services:
  kelseysportfoliowebsite:
    image: kelseysportfoliowebsite
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 5000:5000
    depends_on:
      - my-mysql
    networks:
      - WebServerNetwork
      
    environment:
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_ROOT: ${MYSQL_ROOT}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_VIEW_USER: ${MYSQL_VIEW_USER}
      MYSQL_VIEW_USER_PASSWORD: ${MYSQL_VIEW_USER_PASSWORD}
      MYSQL_DB: ${MYSQL_DB}
      FLASK_KEY: ${FLASK_KEY}
      FLASK_LOG: ${FLASK_LOG}
      FLASK_ENVIRONMENT: ${FLASK_ENVIRONMENT}
      ADMIN_USERNAME: ${ADMIN_USERNAME}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      PYTHONUNBUFFERED: 1

  my-mysql:
    image: mysql:5.7  
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DB}
      MYSQL_USER: ${MYSQL_ADMIN_USER}
      MYSQL_PASSWORD: ${MYSQL_ADMIN_PASSWORD}
    networks:
      - WebServerNetwork
    volumes:
      - mysql-data:/var/lib/mysql
      - ./sql-scripts:/docker-entrypoint-initdb.d  
      - ./config/mysql:/etc/mysql/conf.d
    command: [ "sh", "-c", "chown -R mysql:mysql /etc/mysql/conf.d && chmod 644 /etc/mysql/conf.d/my.cnf && docker-entrypoint.sh mysqld" ]

volumes:
  mysql-data:

networks:
  WebServerNetwork: {}
