{% extends 'base.html' %}

{% block content %}
    <div class="about-header">
        <h2>About</h2>
        <hr>
    </div>

    <div class="about-container">
        <img class="about-image" src="https://static.wixstatic.com/media/0fee66_270710749dee4cf6b8663bd101a9bd0c~mv2.jpeg/v1/fill/w_610,h_610,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/mushroom%20hat%20profile.jpeg" Alt="Stylized self portrait">
        <div class="about-text">
            <p>Kelsey Spade is an illustrator and designer from Northern Kentucky who resides in Columbus, Ohio. She studies illustration at Columbus College of Art and Design. She likes creating illustrations for books and comics,
                as well as editorial and branding designs. Her inspirations come from fantasy and folklore, finding the magic in the mundane.
            </p>
        </div>
    </div>

    <div class="contact-header">
        <h2>Contacts</h2>
        <hr>
    </div>
    <div class="contact-container">
            <a class="contact-info" href="mailto:kelsey_spade@yahoo.com">Email</a>
            <a class="contact-info" href="https://www.instagram.com/alizakelp/">Instagram</a>
            <a class="contact-info" href="https://www.linkedin.com/in/kelsey-spade-571472267">linkedin</a>
            <a class="contact-info" href="https://www.etsy.com/shop/KelppiesCreations?ref=l2-about-shopname">Etsy</a>
            <a class="contact-info" href="https://www.youtube.com/channel/UCTNsW-D89TqSKNdoX8tqHCg">Youtube</a>
        </div>
    </div>


{% endblock %}
