<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kelsey Spade's Portfolio Admin Dashboard</title>
        <meta name="description"
        content=
        "Admin dashboard for Kelsey portfolio website"/>
        <link rel="icon" href="https://static.wixstatic.com/media/0fee66_18f00ad0221142dfbd4c21f7e54d425f~mv2.png/v1/fill/w_549,h_289,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Kelsey_Spade_Header.png" type="image/x-icon">

        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">

    </head>
    <body>
        <header>
            <div class="header row">
                <a href="/">
                    <img src="https://static.wixstatic.com/media/0fee66_18f00ad0221142dfbd4c21f7e54d425f~mv2.png/v1/fill/w_549,h_289,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Kelsey_Spade_Header.png" alt="Kelsey Spade's Butterfly-Spade Logo">
                </a>
                <h1>Admin Dashboard</h1>
                </div>
        </header>

        {% if error_message %}
            <div class="error-message">
                <h2>{{ error_message }}</h2>
                <p>Looks like something went wrong! Please click the button below to go back home or try again later</p>
                <a class= nav-button href="/">Home</a>
            </div>
        {% endif %}

        <!-- Content -->
        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    </body>
    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <footer>
        <div class="footer-container">
            <p>&copy; 2025 Kelsey Spade. All Rights Reserved.</p>
            <p>Follow me on: 
                <a href="https://www.instagram.com/alizakelp/" target="_blank">Instagram</a> | 
                <a href="http://www.linkedin.com/in/kelsey-spade-571472267" target="_blank">linkedin</a> |
                <a href="https://www.etsy.com/shop/KelppiesCreations?ref=l2-about-shopname" target="_blank">Etsy</a>|
                <a href="https://www.youtube.com/channel/UCTNsW-D89TqSKNdoX8tqHCg" target="_blank">Youtube</a>
            </p>
        </div>
    </footer>
</html>